<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<!--<div>-->
<!--    <a th:href = "@{/}">На главную страницу</a>-->
<!--</div>-->

<!--    <form th:method="patch" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">-->

<!--        <label for="firstname">Enter First Name: </label>&ndash;&gt;-->
<!--        <input type="text" th:field="${user.firstName}" required id="firstname"/>-->
<!--            <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</div>-->

<!--        <label for="lastname">Enter Last Name: </label>&ndash;&gt;-->
<!--        <input type="text" th:field="${user.lastName}" required id="lastname"/>-->
<!--            <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>-->

<!--        <label for="age">Enter age: </label>&ndash;&gt;-->
<!--        <input type="text" th:field="${user.age}" required id="age"/>-->
<!--            <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age Error</div>-->

<!--        <label for="email">Enter email: </label>&ndash;&gt;-->
<!--        <input type="text" th:field="${user.email}" required id="email"/>-->
<!--            <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>-->

<!--        <br/>-->
<!--        <input type="submit" value="Обновить данные!"/>-->
<!--    </form>-->
<h2>Редактирование пользователя</h2>
<br>
<a th:href="@{/}">На главную</a>
<br>
    <form th:method="patch" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
<!--<form th:method="post" th:action="@{/save_edit_user(id=${user.getId()})}" th:object="${user}">-->
    <p>
        <label for="first_name">Измените имя: </label>
        <input type="text" th:field="${user.firstName}" id="first_name"/>
    </p>
    <p>
        <label for="last_name">Измените фамилию: </label>
        <input type="text" th:field="${user.lastName}" id="last_name"/>
    </p>
    <p>
        <label for="age">Измените возараст: </label>
        <input type="text" th:field="${user.age}" id="age"/>
    </p>
    <p>
        <label for="email">Enter email: </label>-->
        <input type="text" th:field="${user.email}" required id="email"/>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
    </p>
       <br>
    <input type="submit" value="Сохранить изменения"/>
</form>


</body>
</html>