<!DOCTYPE html>
<html lang="en" xmlns:th="http.//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<!--    <div class="asd">-->
<!--        <a th:href = "@{/}">To main page</a>-->
<!--    </div>-->
<!--    <br>-->
<!--        <div th:each="user : ${listUsers}">-->
<!--        <a th:href="@{/user/{id}(id=${user.getId()})}" th:text="${user.toString()}"  ></a>-->
<!--        </div>-->
<!--    <br>-->
<!--    <div>-->
<!--        <a th:href = "@{/addUser}">Add new User</a>-->
<!--    </div>-->
<h2>Список пользователей</h2>
<br>

<a th:href="@{/addUser}">Добавить пользователя</a>
<br>

<table th:border="2">

    <tr th:align=center>
        <td><b>Id</b></td>
        <td><b>Имя</b></td>
        <td><b>Фамилия</b></td>
        <td><b>Возраст</b></td>
        <td><b>Email</b></td>
        <td><b>Действия</b></td>
    </tr>

    <th:block th:each="user : ${listUsers}">
        <tr th:align=center>
            <td th:text = "${user.getId()}"></td>
            <td th:text = "${user.getFirstName()}"></td>
            <td th:text = "${user.getLastName()}"></td>
            <td th:text = "${user.getAge()}"></td>
            <td th:text = "${user.getEmail()}"></td>
            <td>

                <a th:href="@{/user/{id}(id = ${user.getId()})}"> Просмотреть </a>
                &nbsp / &nbsp
                <a th:href="@{/user/{id}/edit(id=${user.getId()})}"> Редактировать </a>
                &nbsp / &nbsp
                <a th:href="@{/delete_user(id=${user.getId()})}"> Удалить </a>
                <!--<form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">-->
                <!--    <input type="submit" value="Delete"/>-->
            </td>
        </tr>
    </th:block>

</table>
</body>
</html>