<!DOCTYPE html>
<html lang="en"  xmlns:th="http.//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<!--<div>-->
<!--    <a th:href = "@{/}">На главную страницу</a>-->
<!--</div>-->

<!--<p th:text="${user.toString()}">VALUE</p>-->
<!--    <a th:href="@{/user/{id}/edit(id=${user.getId()})}">Edit</a>-->
<!--<br>-->

<!--<form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->
<!--</form>-->
<h2>Данные пользователя</h2>
<br>
<a th:href="@{/}">На главную</a>
<br>
<th:block>
    <table>
        <tr>
            <td><b>ID:</b></td>
            <td th:text = "${user.getId()}"></td>
        </tr>
        <tr>
            <td><b>Имя:</b></td>
            <td th:text = "${user.getFirstName()}"></td>
        </tr>
        <tr>
            <td><b>Фамилия:</b></td>
            <td th:text = "${user.getLastName()}"></td>
        </tr>
        <tr>
            <td><b>Возраст:</b></td>
            <td th:text = "${user.getAge()}"></td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td th:text = "${user.getEmail()}"></td>
        </tr>
    </table>
</th:block>
</body>
</html>